html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, big, em, font, img, small, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit;  font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline;}
:focus { outline: 0;}
ol, ul { list-style: none;}
table { border-collapse: separate; border-spacing: 0;}
caption, th, td { text-align: left; font-weight: normal;}
strong,b{font-weight:bold}
em{font-style:italic}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
/*-------------------------------------*/
html {width:100%;}
body {font-size:17px; color: #737373; background: #fff; line-height:1; font-family:'MontserratRegular', sans-serif;}
a:hover {text-decoration:none;}
.clr,#clr {clear: both;}
* {box-sizing: border-box;}
/*-------------------------------------   word-wrap: break-word;  */

.center {
    width: 1170px;
    margin: 0 auto;
}
