.editMsg {
    margin: 15px 0;
    height: calc(100vh - 185px);
}
.modal {
    border: 1px solid #333333;
    width: 500px;
    min-height: 400px;
    background-color: #FFF;
    margin: 0 auto;
}

.modalHeader {
    color: #222;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    border-bottom: 1px solid #333;
}

.modalBody {
    width: 90%;
    margin: 20px auto;
}

.modalBody textarea {
    padding: 10px;
    width: 100%;
    height: 250px;
    resize: none;
}

.modalFooter {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.modalFooter button {
    width: 80px;
    padding: 5px;
    margin-right: 5%;
}
