header {
    padding: 10px 0;
}

header img {
    float: left;
}

header a {
    color: #343e5c;
    text-decoration: none;
    font-size: 20px;
}

header a:hover {
    color: #289CF1;
}

header h2 {
    float: left;
    font-size: 40px;
    line-height: 70px;
    font-weight: bold;
    margin-left: 20px;
    font-style: italic;
}

header nav {
    margin-left: 120px;
    float: left;

}

header nav ul li {
    float: left;
}

header nav ul li a {
    margin-left: 30px;
    font-weight: bold;
    line-height: 75px;
}
